/* Creado por Víctor Pascual Muñoz */
@charset "utf-8";
body {
    background-color: #2D8652;
    font-family: sans-serif;
}
h1 {
    font-size: 300%;
    text-transform: capitalize;
}
p {
    font-size: 150%;
}
p.nino {
    color: white;
    font-family: serif;
    font-style: oblique;
}
p.pajaros {
    color: #FFDF96;
    font-family: sans-serif;
}
p.libro {
    color: #FF9F1A;
    font-family: monospace;
    font-size: 200%;
}
p.huevos {
    color: #BC2D4D;
    font-family: cursive;
}
